Flask>=2.2
Flask-Caching>=2.0
Flask-SQLAlchemy>=3.0.0
Flask-Login>=0.6.2
Flask-WTF>=1.1.1
WTForms>=3.0.1
bcrypt>=4.0.1
pytest>=7.0
pytest-flask>=1.2
selenium>=4.0
email-validator>=2.0.0
psycopg2-binary>=2.9.0
gunicorn>=21.0.0